body {
}

.item {
    padding: 0 10px 0px 0px;
    margin-top: 10px;
}

    .item .i {
        border: 1px solid #d7d2d2;
        height: 200px;
        text-align: center;
        overflow: hidden;
    }

        .item .i img {
            width: 250px;
            height: 250px;
        }

    .item .t {
        border: 1px solid #d7d2d2;
        padding: 5px;
        text-align: center;
        border-top: none;
    }

    .item:hover .i img {
        transform: scale(1.2);
    }

.vn {
    color: #ff6a00;
    font-weight: bold;
}
